![star_wars_unsplash](star_wars_unsplash.jpg)

Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.

The introduction of its first licensed series, Star Wars, was a hit that sparked a series of collaborations with more themed sets. The partnerships team has asked you to perform an analysis of this success, and before diving into the analysis, they have suggested reading the descriptions of the two datasets to use, reported below.

## The Data

You have been provided with two datasets to use. A summary and preview are provided below.

## lego_sets.csv

| Column     | Description              |
|------------|--------------------------|
| `"set_num"` | A code that is unique to each set in the dataset. This column is critical, and a missing value indicates the set is a duplicate or invalid! |
| `"name"` | The name of the set. |
| `"year"` | The date the set was released. |
| `"num_parts"` | The number of parts contained in the set. This column is not central to our analyses, so missing values are acceptable. |
| `"theme_name"` | The name of the sub-theme of the set. |
| `"parent_theme"` | The name of the parent theme the set belongs to. Matches the name column of the parent_themes csv file.
|

## parent_themes.csv

| Column     | Description              |
|------------|--------------------------|
| `"id"` | A code that is unique to every theme. |
| `"name"` | The name of the parent theme. |
| `"is_licensed"` | A Boolean column specifying whether the theme is a licensed theme. |

In [397]:
# Import pandas, read and inspect the datasets
import pandas as pd

lego_sets = pd.read_csv('data/lego_sets.csv')
lego_sets.head()

  set_num                        name  ...    theme_name  parent_theme
0    00-1             Weetabix Castle  ...        Castle      Legoland
1  0011-2           Town Mini-Figures  ...  Supplemental          Town
2  0011-3  Castle 2 for 1 Bonus Offer  ...  Lion Knights        Castle
3  0012-1          Space Mini-Figures  ...  Supplemental         Space
4  0013-1          Space Mini-Figures  ...  Supplemental         Space

[5 rows x 6 columns]

In [398]:
parent_themes = pd.read_csv('data/parent_themes.csv')
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [399]:
# Perform an inner join on lego_sets and parent_themes using the 'parent_theme' and 'name' columns
merged_df = pd.merge(lego_sets, parent_themes, how='inner', left_on='parent_theme', right_on='name')

# Display the first few rows of the merged dataframe
merged_df.head()

  set_num                             name_x  year  ...   id    name_y is_licensed
0    00-1                    Weetabix Castle  1970  ...  411  Legoland       False
1    00-2       Weetabix Promotional House 1  1976  ...  411  Legoland       False
2    00-3       Weetabix Promotional House 2  1976  ...  411  Legoland       False
3    00-4      Weetabix Promotional Windmill  1976  ...  411  Legoland       False
4    00-7  Weetabix Promotional Lego Village  1976  ...  411  Legoland       False

[5 rows x 9 columns]

In [400]:
# Filter merged_df to include only rows where is_licensed is True
licensed_df = merged_df[merged_df['is_licensed'] == True]

# Display the first few rows of the filtered dataframe
licensed_df.head()

      set_num                         name_x  year  ...   id     name_y is_licensed
3493  10018-1                     Darth Maul  2001  ...  158  Star Wars        True
3494  10019-1    Rebel Blockade Runner - UCS  2001  ...  158  Star Wars        True
3495  10026-1        Naboo Starfighter - UCS  2002  ...  158  Star Wars        True
3496  10030-1  Imperial Star Destroyer - UCS  2002  ...  158  Star Wars        True
3497  10123-1                     Cloud City  2003  ...  158  Star Wars        True

[5 rows x 9 columns]

In [401]:
# Perform value_counts on the 'parent_theme' column of the licensed_df dataframe
parent_theme_counts = licensed_df['parent_theme'].value_counts()

# Display the value counts
parent_theme_counts

Star Wars                           609
Super Heroes                        343
Harry Potter                         93
Minecraft                            44
Disney Princess                      41
The Hobbit and Lord of the Rings     40
Cars                                 27
Teenage Mutant Ninja Turtles         21
Indiana Jones                        19
Pirates of the Caribbean             17
Toy Story                            15
SpongeBob SquarePants                14
The Lone Ranger                       8
Jurassic World                        7
Scooby-Doo                            6
Disney's Mickey Mouse                 6
Prince of Persia                      6
Angry Birds                           6
Ben 10                                6
Avatar                                2
Disney                                1
Ghostbusters                          1
Name: parent_theme, dtype: int64

In [402]:
# Get the number of rows in licensed_df
num_rows_licensed_df = licensed_df.shape[0]

# Display the number of rows
num_rows_licensed_df

the_force = round(parent_theme_counts[0]/num_rows_licensed_df*100)
the_force

46

In [403]:
# Filter merged_df to include only rows where parent_theme is 'Star Wars'
star_wars_df = licensed_df[licensed_df['parent_theme'] == 'Star Wars']

# Display the first few rows of the filtered dataframe
star_wars_df.head()

      set_num                         name_x  year  ...   id     name_y is_licensed
3493  10018-1                     Darth Maul  2001  ...  158  Star Wars        True
3494  10019-1    Rebel Blockade Runner - UCS  2001  ...  158  Star Wars        True
3495  10026-1        Naboo Starfighter - UCS  2002  ...  158  Star Wars        True
3496  10030-1  Imperial Star Destroyer - UCS  2002  ...  158  Star Wars        True
3497  10123-1                     Cloud City  2003  ...  158  Star Wars        True

[5 rows x 9 columns]

In [404]:
counts = star_wars_df['year'].value_counts()
counts = counts.sort_values(ascending=False)

new_era = counts.index[0]